 <div id="side-menu"  class="col-sm-3">
  <!-- <ul id ="side-links">
    <%= render 'posts/index/side_menu/no_login_required_links' %>
  </ul> -->
<div class="about">
  <h3 id="about">ABOUT</h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam euismod vel sapien eget finibus.
    Nam nec sagittis elit, nec suscipit sapien. Proin nec quam pulvinar, rutrum mi sit amet, maximus
    nunc. Integer bibendum convallis aliquam. Praesent maximus purus quis magna rutrum, sed semper
    augue porta. Ut et nisi tristique, dictum metus vitae, eleifend quam. Integer aliquam massa ac
    porta rutrum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
    egestas. In eleifend nisl ut urna auctor, eu facilisis lectus placerat. Phasellus ac viverra metus.
    Phasellus pellentesque, nunc at faucibus accumsan, dolor nulla sagittis urna, a bibendum tortor justo
    eu magna. Morbi eget sodales arcu, sed dapibus arcu. Nam efficitur suscipit malesuada. Sed posuere felis
    id elementum luctus.

    Vestibulum tincidunt eros quis est placerat, aliquam vulputate mi dictum. Vivamus at fermentum augue.
    Proin non nisi ornare, consequat odio nec, venenatis odio. Nulla facilisi. Pellentesque feugiat, velit
    quis vulputate congue, augue quam laoreet neque, sed finibus nibh orci venenatis nisl. Duis varius
    molestie est, at fringilla dolor finibus eget. Praesent hendrerit eros sed massa tincidunt, eu laoreet
    libero tempus. Pellentesque mollis vehicula laoreet.
  </p>
</div>

</div><!-- side-menu -->
